
<nav class="navbar navbar-default navbar-noMargin fixed-header-top" style="padding-right:1%s;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ATI</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
               <li>
                  <a href="./#scale"><%= __('scale') %></a>
              </li>
              <li>
                  <a href="./#information"><%= __('background') %></a>
              </li>
              <li>
                  <a href="./#scientist"><%= __('scientist') %></a>
              </li>
              <li>
                  <a href="./#developer"><%= __('developer') %></a>
              </li>
              <li>
                  <a href="./#teacher"><%= __('teacher') %></a>
              </li>
              <li>
                  <a href="./#authors"><%= __('whoWeAre') %></a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="height:100%" >
               <li>
                <a href="/user"><span class="glyphicon glyphicon-user"></span> Profil</a>
              </li>
              <li>
                <a href="/login"><span class="glyphicon "></span> Log Out </a>
              </li>
              <li class=""><!-- class="imgLangSmall li-header-right" style="margin-right: -5%"> -->
                                    <a href="" onclick="changeLang()"> <img src="/images/lang_de_en.png" class="langImg">
                                    <%= __('toggletext') %>

                  </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
