
<%- include ./partials/head %>

    <title>About/Impressum</title>
</head>


<body>
  <header>
    <%- include ./partials/header %>
  </header>
  <div>
      <h1>
        <%= __('about.impressTitle') %>
      </h1>
      <p>
        <%= __('about.uniLub') %>
      </p>
      <p>
        <%= __('about.uniStreet') %>
      </p>
      <p>
        <%= __('about.uniZip') %>
      </p>
    </div>
    <div>
      <h3>
        <%= __('about.representativeTitle') %>
      </h3>
      <p>
        <%= __('about.representative') %>
      </p>
    </div>
    <div>
      <h3>
        <%= __('about.authorityTitle') %>
      </h3>
      <p>
        <%= __('about.authorityText') %>
      </p>
      <p>
        <%= __('about.ministry') %>
      </p>
      <p>
        <%= __('about.ministryZip') %>
      </p>
      <p>
        <%= __('about.ministryStreet') %>
      </p>
      <p>
        <%= __('about.ministryCountry') %>
      </p>
    </div>

    <div>
      <h3>
        <%= __('about.contentResponsibleTitle') %>
      </h3>
      <p>
        <%= __('about.contentResponsible') %>
      </p>
      <p>
        <%= __('about.phone') %>
      </p>
      <p>
        <%= __('about.fax') %>
      </p>
      <p>
        <%- __('about.email') %>
      </p>
    </div>

</body>
