
  <%- include ./partials/head %>

    <title>About/Impressum</title>
</head>


<body>
  <header>
    <%- include ./partials/header %>
  </header>
  <main>
  <div class="container background-light-grey" style="padding-right:15px; margin-bottom:15px;">
    <!-- <div>
      <h1>
        <%= __('about.impressTitle') %>
      </h1>
      <p>
        <%= __('about.uniLub') %>
      </p>
      <p>
        <%= __('about.uniStreet') %>
      </p>
      <p>
        <%= __('about.uniZip') %>
      </p>
    </div>
    <div>
      <h3>
        <%= __('about.representativeTitle') %>
      </h3>
      <p>
        <%= __('about.representative') %>
      </p>
    </div>
    <div>
      <h3>
        <%= __('about.authorityTitle') %>
      </h3>
      <p>
        <%= __('about.authorityText') %>
      </p>
      <p>
        <%= __('about.ministry') %>
      </p>
      <p>
        <%= __('about.ministryZip') %>
      </p>
      <p>
        <%= __('about.ministryStreet') %>
      </p>
      <p>
        <%= __('about.ministryCountry') %>
      </p>
    </div>

    <div>
      <h3>
        <%= __('about.contentResponsibleTitle') %>
      </h3>
      <p>
        <%= __('about.contentResponsible') %>
      </p>
      <p>
        <%= __('about.phone') %>
      </p>
      <p>
        <%= __('about.fax') %>
      </p>
      <p>
        <%- __('about.email') %>
      </p>
    </div>

    <div>
      <h3>
        Website by
      </h3>
      <p>
        Niklas Hörcher, Jonas Lamperti, Jeffrey Pluntke, Pascal Stieglitz and Mario Wahlbrink
      </p>
    </div> -->
<h2>  Imprint</h2>  
<p>University of Lübeck<br>
Ratzeburger Allee 160<br>
D-23562 Lübeck</p>
<br>
<p>Legal Representative<br>
The University of Luebeck is a public trust and is represented by its President Prof. Dr. Hendrik Lehnert.</p>
<br>
<p>Regulatory Authority<br>
The University carries out its public tasks on its own behalf under legal supervision of the regulatory state authority, the Ministry of Social Affairs, Health, Science and Equality.<br>
Ministry of Social Affairs, Health, Science and Equality<br>
D-24105 Kiel<br>
Düsternbrooker Weg 104<br>
Germany</p>

<p>Responsible of Content/Editor in Charge<br>
Daniel Wessel, Graduate Psychologist, PhD<br>
Tel: + 49 (0451) 3101 5122<br>
Fax: +49 (0451) 3101 5149<br>
Email: wessel@imis.uni-luebeck.de</p>

<p>Website by<br>
Niklas Hörcher, Jonas Lamperti, Jeffrey Pluntke, Pascal Stieglitz and Mario Wahlbrink</p>

  </div>
</main>
  <script>
    /*fixed header */
    var m = document.querySelector("main"),
      h = document.querySelector("header"),
      hHeight;
  
  function setTopPadding() {
    hHeight = h.offsetHeight;
    m.style.paddingTop = hHeight + "px";
  }

  window.onload = function() {
    setTopPadding();   
  };  
  window.onresize = function() {
    setTopPadding();
  };</script>
</body>
