<!DOCTYPE html>
<html>

<head lang="en">
    <%- include ./partials/head %>
</head>

<body>
    <header>
        <%- include ./partials/header %>
    </header>

    <img src="./images/Titelbild_Titel_Deutsch.jpg" alt="Two men one table" style="width:100%;margin-top:-20px;"></img>

    <div style="height:30%; background-color: white; margin-top:2%">
        <div class="container">
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4" align="center">
                    <a href="#scientist">
                        <img src="./images/Forscher_Icon.png" alt="Forscher" class="scientist-developer-teacher-images"></img>
                    </a>
                    <p class="scientist-developer-teacher-text">
                        <h3>
                            <b>Forscher</b>
                        </h3>
                    </p>
                </div>
                <div class="col-4 col-sm-4 col-md-4" align="center">
                    <a href="#developer">
                        <img src="./images/Entwickler_Icon.png" s alt="Entwickler" class="scientist-developer-teacher-images" href="#developer"></img>
                    </a>

                    <p class="scientist-developer-teacher-text">
                        <h3>
                            <b>Entwickler</b>
                        </h3>
                    </p>
                </div>
                <div class="col-4 col-sm-4 col-md-4" align="center">
                    <a href="#teacher">
                        <img src="./images/Kursleiter_Icon.png" alt="Kursleiter" class="scientist-developer-teacher-images"></img>
                    </a>

                    <p class="scientist-developer-teacher-text">
                        <h3>
                            <b>Kursleiter</b>
                        </h3>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row" >
        <div>
            <div class="col-md-3 col-xs-1 padding-md" ></div>
            <div align:"center" class="col-xs-10 col-md-8">
                <h2>Was ist Technikaffinität</h2>
                <p>s, accumsan dui. Duis rhoncus erat a elit finibus, eget vestibulum massa scelerisque. Praesent sit amet cursus
                    ante. Proin scelerisque dolor nibh, eu sagittis massa venenatis a. Nunc at arcu aliquam, pharetra eros
                    
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="height:30%; background-color: white; margin-bottom:3%">
            <div class="row">
                <div class="col-xs-1 col-md-5">

                </div>
                <div class="col-xs-4">
                    <h2>Die Skala</h2>
                </div>
                <div class="col-xs-2">

                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-1 col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-md-5"></div>
                <div class="col-xs-4 scale-text">Nutzen Sie unseren Fragebogen für Entwicklungs- und Forschungszwecke. Laden Sie ihn für Ihre Studie herunter</div>
                <div class="col-xs-2">
                    </br>
                    </br>
                    </br>
                    </br>
                </div>
                <div class="col-xs-4 scale-text">Oder Nutzen Sie den Fragebogen und finden schnell heraus, wie affin Sie selbst im Umgang mit Technik sind</div>
                <div class="col-xs-1 col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-md-5"> </div>
                <div class="col-xs-4 scale-buttons">
                    <button class="button col-xs-12 col-md-4"> Download</button>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4 scale-buttons">
                    <button class="col-xs-12 col-md-4 button pull-left">Loslegen</button>
                </div>
                <div class="button col-xs-1 col-md-1"></div>
            </div>
        </div>
    </div>
















    <div class="container-flex div-padding-row" id="div-what-why-how">
        <div class="div-padding-min">
            <h2>Was</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel nulla leo. Vestibulum id porta arcu, vitae
                aliquet velit. Duis non tincidunt mi. Fusce quis eros felis. Donec a dictum dolor. Mauris ante turpis, vestibulum
                sed egestas eget, interdum eget arcu. Duis fermentum laoreet pharetra. Nulla malesuada nibh at velit pretium
                blandit. Fusce arcu justo, mollis eget ornare at, sodales vel ante.</p>
        </div>
        <div class="div-padding-min">
            <h2>Wie</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel nulla leo. Vestibulum id porta arcu, vitae aliquet velit.
                Duis non tincidunt mi. Fusce quis eros felis. Donec a dictum dolor. Mauris ante turpis, vestibulum sed egestas
                eget, interdum eget arcu. Duis fermentum laoreet pharetra. Nulla malesuada nibh at velit pretium blandit.
                Fusce arcu justo, mollis eget ornare at, sodales vel ante.
            </p>
        </div>
        <div class="div-padding-min">
            <h2>Warum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel nulla leo. Vestibulum id porta arcu, vitae
                aliquet velit. Duis non tincidunt mi. Fusce quis eros felis. Donec a dictum dolor. Mauris ante turpis, vestibulum
                sed egestas eget, interdum eget arcu. Duis fermentum laoreet pharetra. Nulla malesuada nibh at velit pretium
                blandit. Fusce arcu justo, mollis eget ornare at, sodales vel ante.</p>
        </div>
    </div>



    <div class="row div-padding-row">
        <div class="col-xs-12">
            <div id="scientist">
                <h2>Forscher</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel nulla leo. Vestibulum id porta arcu, vitae
                    aliquet velit. Duis non tincidunt mi. Fusce quis eros felis. Donec a dictum dolor. Mauris ante turpis,
                    vestibulum sed egestas eget, interdum eget arcu. Duis fermentum laoreet pharetra. Nulla malesuada nibh
                    at velit pretium blandit. Fusce arcu justo, mollis eget ornare at, sodales vel ante. Donec metus mi,
                    fermentum nec imperdiet vel, egestas eget elit. Mauris tempus aliquam erat non volutpat. Donec luctus
                    ultrices euismod. Aenean lacinia justo ac diam vestibulum consequat. Curabitur metus nisl, pulvinar vel
                    hendrerit vitae, molestie non orci. Donec volutpat porttitor maximus. Ut at lacus a ipsum euismod sagittis.
                    Nam ut fermentum ligula, in luctus risus. Nulla sed sodales ante, vel viverra est. Vestibulum efficitur
                    hendrerit turpis, porta egestas enim luctus vitae. Pellentesque pretium convallis nisi eu pulvinar. Duis
                    gravida lacus non ex accumsan, in condimentum leo vehicula. Vivamus non vulputate libero. Suspendisse
                    suscipit dictum arcu, eu hendrerit dui tincidunt tristique. Ut nec magna elementum nisi euismod commodo
                    quis vitae neque. Cras ut libero sed leo ullamcorper feugiat vel sagittis lacus.</p>

            </div>
        </div>
    </div>
    <div class="row div-padding-row background-light-grey">

        <div class="col-xs-12">

            <div id="developer">
                <h2>Entwickler</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel nulla leo. Vestibulum id porta arcu, vitae
                    aliquet velit. Duis non tincidunt mi. Fusce quis eros felis. Donec a dictum dolor. Mauris ante turpis,
                    vestibulum sed egestas eget, interdum eget arcu. Duis fermentum laoreet pharetra. Nulla malesuada nibh
                    at velit pretium blandit. Fusce arcu justo, mollis eget ornare at, sodales vel ante. Donec metus mi,
                    fermentum nec imperdiet vel, egestas eget elit. Mauris tempus aliquam erat non volutpat. Donec luctus
                    ultrices euismod. Aenean lacinia justo ac diam vestibulum consequat. Curabitur metus nisl, pulvinar vel
                    hendrerit vitae, molestie non orci. Donec volutpat porttitor maximus. Ut at lacus a ipsum euismod sagittis.
                    Nam ut fermentum ligula, in luctus risus. Nulla sed sodales ante, vel viverra est. Vestibulum efficitur</p>

            </div>
        </div>
    </div>
    <div class="row div-padding-row">
        <div class="col-xs-12">
            <div id="teacher">
                <h2>Kursleiter</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel nulla leo. Vestibulum id porta arcu, vitae
                    aliquet velit. Duis non tincidunt mi. Fusce quis eros felis. Donec a dictum dolor. Mauris ante turpis,
                    vestibulum sed egestas eget, interdum eget arcu. Duis fermentum laoreet pharetra. Nulla malesuada nibh
                    at velit pretium blandit. Fusce arcu justo, mollis eget ornare at, sodales vel ante. Donec metus mi,
                    fermentum nec imperdiet vel, egestas eget elit. Mauris tempus aliquam erat non volutpat. Donec luctus
                    ultrices euismod. Aenean lacinia justo ac diam vestibulum consequat. Curabitur metus nisl, pulvinar vel
                    hendrerit vitae, molestie non orci. Donec volutpat porttitor maximus. Ut at lacus a ipsum euismod sagittis.
                    Nam ut fermentum ligula, in luctus risus. Nulla sed sodales ante, vel viverra est. Vestibulum efficitur
                    hendrerit turpis, porta egestas enim luctus vitae. Pellentesque pretium convallis nisi eu pulvinar. Duis
                    gravida lacus non ex accumsan, in condimentum leo vehicula. Vivamus non vulputate libero. Suspendisse
                    suscipit dictum arcu, eu hendrerit dui tincidunt tristique. Ut nec magna elementum nisi euismod commodo
                    quis vitae neque. Cras ut libero sed leo ullamcorper feugiat vel sagittis lacus.</p>

            </div>
        </div>
    </div>

    <div class="div-padding-row background-light-grey">
        <div>
            <h3>
                Wer wir sind
            </h3>
            <p>
                at velit pretium blandit. Fusce arcu justo, mollis eget ornare at, sodales vel ante. Donec metus mi, fermentum nec imperdiet
                vel, egestas eget elit. Mauris tempus aliquam erat non volutpat. Donec luctus ultrices euismod. Aenean lacinia
                justo ac diam vestibulum consequat. Curabitur metus nisl, pulvinar vel
            </p>
        </div>

        <div class="container-flex div-padding-row" style="margin-top:-5%">

            <div class="div-padding-min" align="center">
                <img src="./images/dummy-user.jpg" alt="Prof. Franke" class="author-images"></img>
                </br>
                <p style="margin-top:1%">Prof. Franke</p>
                <p>nec imperdiet vel, egestas eget elit. Mauris tempus aliquam erat non volutpat. Donec luctus ultrices euismod.
                    Aenean lacinia justo ac diam vestibulum consequat. Curabitur metus nisl, pulvinar ve</p>
            </div>
            <div class="div-padding-min" align="center">
                <img src="./images/dummy-user.jpg" alt="Dr. Wessel" class="author-images"></img>
                </br>
                <p style="margin-top:1%">Dr. Wessel</p>
                <p>nec imperdiet vel, egestas eget elit. Mauris tempus aliquam erat non volutpat. Donec luctus ultrices euismod.
                    Aenean lacinia justo ac diam vestibulum consequat. Curabitur metus nisl, pulvinar ve</p>
            </div>
            <div class="div-padding-min" align="center">
                <img src="./images/dummy-user.jpg" alt="Fr. Attig" class="author-images"></img>
                </br>
                <p style="margin-top:1%">Fr. Attig</p>
                <p>nec imperdiet vel, egestas eget elit. Mauris tempus aliquam erat non volutpat. Donec luctus ultrices euismod.
                    Aenean lacinia justo ac diam vestibulum consequat. Curabitur metus nisl, pulvinar ve</p>
            </div>
        </div>
    </div>




































































    <!--
        <h1 id="title"><%= title %></h1>
        <p>Welcome to the <%= title %>-Project</p>
        <div>
            <h3>Teste deine Technikaffinität</h3>
            <p>
                Nutze unseren Fragebogen und finde schnell heraus, wie affin du zum Umgang mit Technik bist. Vergleiche dich mit anderen.
            </p>
            <p>
                Oder nutze den Fragebogen für Entwicklungs- oder Forscherzwecke. Lade ihn für deine Studie herunter.
            </p>
        </div>
        <div>
            <h3>Was?</h3>
            <p>Mit unserem Fragebogen kannst du unkompliziert deine Technikaffinität oder die deiner Probanden messen. Dazu kann derFragebogen direkt auf dieser Seite ausgefüllt, oder einfach heruntergeladen werden. Das Ausfüllen nimmt fünf Minuten in Anspruch und ist auf diverson Geräten möglich. Außerdem gibt es viele weitere Features, wie der Zukang eines Vergleichs der Ergebnisse alter Teilnehmer.</p>
        </div>
        <div>
            <h3>Wie?</h3>
            <p>Mit der Technikaffinität behandelt der Fragebogen eine aktuelles Thema, welches derzeit in wissenschaftlichen Studien noch wenig berücksichtigt wird. Damit die Nutzer ein objektives, zuverlässiges und gültiges Ergebnis erhalten, wurde der Fragebogen sowie das Feedback in einem wissenschaftlichen Kontext entwickelt. Zudem kann mithilfe der Online-Version schnell und ohne viel Aufwand eine relativ große Reichweite erlangt werden.</p>
        </div>
        <div>
            <h3>Warum?</h3>
            <p>Der Fragebogen ist aus verschiedenen Perspektiven eine hilfreiches Werkzeug. Forschern ist es möglich, hilfreiche Daten über ihre Probanden zu erhalten, Systementwickler können ihn einsetzen, um die Technikaffinität der Benutze vor Evaluation ihrer Prototypen zu ermitteln, und Interessierte können einfach etwas über ihre Persönlichkeitseigenschaft Technikaffinität erfahren.</p>
        </div>
        <a href="/dl">Fragebogen herunterladen</a></br>
		<a href="/toggle"><%= __('toggletext') %></a> -->

    <footer>
        <%- include ./partials/footer %>
    </footer>

</body>

</html>