<!DOCTYPE html>
<html>

<head lang="en">
    <%- include ./partials/head %>
</head>

<body>
    <header>
        <%- include ./partials/header %>
    </header>

    <div style="width:100%;height:70%;margin-top:-20px; background-image: url('./images/titleImg.jpg');background-size:cover"
        align="center">
        <h2 style="padding-top:7.5%; padding-left:15%">
            <%= __('title') %>
        </h2>
    </div>



    <div class="container-flex-scale-def " align="center">
        <div class="image-for-groups"></div>
        <div>
            <a href="#scientist">
                <img src="./images/Forscher_Icon.png" alt="Forscher" class="scientist-developer-teacher-images"></img>
            </a>
            <p class="scientist-developer-teacher-text">
                <h3>
                    <b>
                        <%= __('scientist') %>
                    </b>
                </h3>
            </p>
        </div>
        <div>
            <a href="#developer">
                <img src="./images/Entwickler_Icon.png" s alt="Entwickler" class="scientist-developer-teacher-images" href="#developer"></img>
            </a>
            <p class="scientist-developer-teacher-text">
                <h3>
                    <b>
                        <%= __('developer') %>
                    </b>
                </h3>
            </p>
        </div>
        <div>
            <a href="#teacher">
                <img src="./images/Kursleiter_Icon.png" alt="Kursleiter" class="scientist-developer-teacher-images"></img>
            </a>
            <p>
                <h3>
                    <b>
                        <%= __('teacher') %>
                    </b>
                </h3>
            </p>
        </div>
        <div style="width:20%"></div>

    </div>




    <div class="container-flex-scale-def2" style="margin-left:10%">
        <h2>
            <%= __('definitionAffinityHeader') %>
        </h2>

    </div>
    <div class="container-flex-scale-def2" style="margin-left:10%">
        <p>
            <%= __('definitionAffinity') %>
        </p>
    </div>


    </div>
    <div style="margin-left:10%; margin-top:7.5%">
        <h3>
            <%= __('theScale') %>
        </h3>
    </div>

    <div class="container-flex-scale">
        <div style="width:10%"></div>
        <div class="div-scale">
            <div style="width:80%">
                <%= __('downloadText') %>
            </div><a href="./dl">
            <input type="image" src="./images/Download_Button.png" class="scale-image" /></a>
        </div>
        <div style="width:10%">

        </div>
        <div class="div-scale">
            <div style="width:80%">
                <%= __('testYourselfText') %>
            </div>
            <a href="./files/skala.pdf">
                <input type="image" src="./images/TesteDich_Button.png" class="scale-image" />
            </a>
        </div>
        <div style="width:10%"></div>
    </div>

    <div id="information">
        <div class="container-flex div-padding-row" id="div-what-why-how">
            <div class="div-padding-min">
                <h2>
                    <%= __('what') %>
                </h2>
                <p>
                    <%= __('whatText') %>
                </p>
            </div>
            <div class="div-padding-min">
                <h2>
                    <%= __('how') %>
                </h2>
                <p>
                    <%= __('howText') %>
                </p>
            </div>
            <div class="div-padding-min">
                <h2>
                    <%= __('why') %>
                </h2>
                <p>
                    <%= __('whyText') %>
                </p>
            </div>
        </div>



        <div class="row div-padding-row">
            <div class="col-xs-12">
                <div id="scientist">
                    <h2>
                        <%= __('scientist') %>
                    </h2>
                    <p>
                        <%= __('scientistText') %>
                    </p>

                </div>
            </div>
        </div>
        <div class="row div-padding-row background-light-grey">

            <div class="col-xs-12">

                <div id="developer">
                    <h2>
                        <%= __('developer') %>
                    </h2>
                    <p>
                        <%= __('developerText') %>
                    </p>

                </div>
            </div>
        </div>
        <div class="row div-padding-row">
            <div class="col-xs-12">
                <div id="teacher">
                    <h2>
                        <%= __('teacher') %>
                    </h2>
                    <p>
                        <%= __('teacherText') %>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="div-padding-row background-light-grey" id="authors">
        <div>
            <h3>
                <%= __('whoWeAre') %>
            </h3>

        </div>

        <div class="container-flex div-padding-row" style="margin-top:-5%">

            <div class="div-padding-min" align="center">
                <img src="./images/dummy-user.png" alt="Prof. Franke" class="author-images"></img>
                </br>
                <p style="margin-top:1%">Prof. Franke</p>
                <p>
                    <%= __('frankeText') %>
                </p>
            </div>
            <div class="div-padding-min" align="center">
                <img src="./images/dummy-user.png" alt="Dr. Wessel" class="author-images"></img>
                </br>
                <p style="margin-top:1%">Dr. Wessel</p>
                <p>
                    <%= __('wesselText') %>
                </p>
            </div>
            <div class="div-padding-min" align="center">
                <img src="./images/dummy-user.png" alt="Fr. Attig" class="author-images"></img>
                </br>
                <p style="margin-top:1%">Fr. Attig</p>
                <p>
                    <%= __('attigText') %>
                </p>
            </div>
        </div>
    </div>


    <footer>
        <%- include ./partials/footer %>
    </footer>

</body>

</html>