<%- include ./partials/head %>
  <title>ATI</title>
  </head>

  <body onload="setLang()" lang="<%= __('html.lang') %>" >
    <header id="indexHeader">
      <%- include ./partials/header %>
    </header>
<main>
    <div class="title-screen " align="center">

      <img style="width:100%;height:auto" src='<%= __('titleImg') %>'></img>

    </div>



   <div class="imagesPadding flex-row padding-left-right-SDT" align="center">
     
      <div>
        <a href="#scientist" >
         <div class="bg-img-container bg-img-form"  id="img-scientist" alt="scientist" alt="scientist"></div>
        </a>
        <p class="scientist-developer-teacher-text">
          <h3>
            <b>
              <%= __('scientist') %>
            </b>
          </h3>
        </p>
      </div>

      <div style="margin-left:auto;margin-right:auto">
        <a href="#developer">
          <div id="img-developer" src="./images/Entwickler_Icon.png"  class="bg-img-container bg-img-form" href="#developer" alt="developer"></div>
        </a>
        <p class="scientist-developer-teacher-text">
          <h3>
            <b>
              <%= __('developer') %>
            </b>
          </h3>
        </p>
      </div>

      <div>
        <a href="#teacher">
          <div id="img-teacher" alt="Kursleiter" class="bg-img-container bg-img-form" alt="teacher"></div>
        </a>

        <p>
          <h3>
            <b>
              <%= __('teacher') %>
            </b>
          </h3>
        </p>
      </div>


    </div>

    <div class="flex-lg-row scale-txt-home-sm" style="margin-left:10%; margin-top:4rem ">
      <h2>
        <%= __('definitionAffinityHeader') %>
      </h2>
    </div>

    <div class=" flex-lg-row" style="margin-left:10%;margin-right:10%;margin-bottom: 4rem;">
      <p>
        <%= __('definitionAffinity') %>
      </p>
    </div>



    <div id="scale" class="container-flex-scale-title index-container-margin-top-bot flex-lg-row">

      <div style="width:40%"></div>

      <div style="width:20%; margin-left:auto;margin-right:auto; " align="center" >
        <h2 >
          <%= __('theScale') %>
        </h2>
      </div>

      <div style="width:40%"></div>

    </div>

    <div class="index-container-margin-bottom flex-lg-row flex-md-col " >

      <div style="width:10%"></div>

      <div class="div-scale" style="padding-top:4rem; padding-bottom:4rem;">
          <div style="width:80%;">
              <%= __('downloadText') %>
            </div>
        <div class="flex-col">
          <div class="flex-row-wrap flex-s-col">
            <a href="./dl0">
              <button type="button" class="button-start bg-color-theme btn-s-negMargin button-xs button-md">
                <%= __('buttonDownload') %>
              </button>
            </a>
            <a href="./dl1">
              <button type="button" class="button-start bg-color-theme btn-s-negMargin button-xs button-md">
                Word (.docx)
              </button>
            </a>
          </div>
          <div class="flex-row-wrap flex-s-col">
            <a href="./dl3">
              <button type="button" class="button-start  bg-color-theme button-xs button-md">
                LimeSurvey (en)
              </button>
            </a>
            <a href="./dl4">
              <button type="button" class="button-start  bg-color-theme button-xs button-md">
                LimeSurvey (de)
              </button>
            </a>
          </div>
          <a href="./dl2">
            <button type="button" class="button-start bg-color-theme btn-s-negMargin button-xs button-md">
              Text (.txt)
            </button>
          </a>
        </div>


      </div>

      <div style="width:10%"></div>

      <div class="div-scale" style="padding-top:4rem; padding-bottom:4rem;">

        <div style="width:80%">
          <%= __('testYourselfText') %>
        </div>

        <a href="./form">
          <button type="button" class="button-start bg-color-theme button-xs button-md">
            <%= __('buttonTestYourself') %>
          </button>
        </a>
      </div>
    </div>
    <div style="width:10%"></div>

    </div>

    <div id="information">

      <div class="flex-md-col flex-lg-row div-padding-row bg-color-theme" id="div-what-why-how">

        <div class="div-padding-min" >
          <h2>
            <%= __('what') %>
          </h2>
          <p>
            <%= __('whatText') %>
          </p>
        </div>

        <div class="div-padding-min">
          <h2>
            <%= __('how') %>
          </h2>
          <p>
            <%= __('howText') %>
          </p>
        </div>

        <div class="div-padding-min">
          <h2>
            <%= __('why') %>
          </h2>
          <p>
            <%= __('whyText') %>
          </p>
        </div>

      </div>


      <div class="div-padding-row-SDT flex-row flex-xs-col">

        <div>
          <img src="./images/Forscher_Icon.png" alt="Entwickler" class="SDT-images" href="#developer"></img>
        </div>

        <div class="flex-col">

          <div id="scientist">
            <h2>
              <%= __('scientist') %>
            </h2>
            <p>
              <%= __('scientistText') %>
            </p>
          </div>
          <div>
            <div class="iframe-md iframe-xs">
                <iframe class="" src="https://www.youtube.com/embed/tbyKkZZNUzA" allowfullscreen  alt="in this video Prof. Franke discusses why ATI is relevant"></iframe>
            </div>
            <button class="button bg-color-theme button-start" onclick="displayScale()"><%= __('index.publication') %></button>
          </div>
              <div class=""  id="papers" style="display:none">
                <p><%= __('index.publicationIntro') %></p>
                <div class="flex-row flex-s-col">
                  <div class="btn-papers-md">  
                    <a href="https://www.researchgate.net/publication/318745431_Assessing_Affinity_for_Technology_Interaction_-_The_Affinity_for_Technology_Interaction_ATI_Scale_Scale_Description_-_English_and_German_Scale_Version">
                    <button type="button" class="button bg-color-theme btn-index-lg">Paper</button>
                    </a>
                  </div>
                  <div class="paper-param-md" > Franke, Thomas & Attig, Christiane & Wessel, Daniel. (2017). Assessing Affinity for Technology Interaction – The Affinity for Technology Interaction (ATI) Scale. Scale Description – English and German Scale Version.
                  </div>
                </div>
                <div class="flex-row flex-s-col">
                    <div class="btn-papers-md " >  
                      <a href="/dlPoster">
                      <button type="button" class="button bg-color-theme btn-index-lg"><%= __('index.Poster') %></button>
                      </a>
                    </div>
                    <div class="paper-param-md"> Franke, Thomas & Attig, Christiane & Wessel, Daniel. (2017). Assessing Personality Differences in Human-technology Interaction: An Overview of Key Self-report Scales to Predict Successful Interaction & a New Scale to Assess Affinity for Technology
                    </div>
                  </div>
              </div>              
        </div>

      </div>

      <div class="div-padding-row-SDT background-light-grey flex-row flex-xs-col">

        <div>
          <img src="./images/Entwickler_Icon.png" alt="Entwickler" class="SDT-images" href="#developer"></img>
        </div>

        <div class="flex-col">

          <div id="developer">
            <h2>
              <%= __('developer') %>
            </h2>
            <p>
              <%= __('developerText') %>
            </p>
          </div>

        </div>

      </div>

      <div class="div-padding-row-SDT flex-row flex-xs-col">

        <div>
          <img src="./images/Kursleiter_Icon.png" alt="Entwickler" class="SDT-images" href="#developer"></img>
        </div>

        <div class="flex-col">
          <div id="teacher">
            <h2>
              <%= __('teacher') %>
            </h2>
            <p>
              <%= __('teacherText') %>
            </p>

          </div>

        </div>

      </div>

    </div>

    <div class="div-padding-row background-light-grey" id="authors">

      <div align="center">
        <h3>
          <%= __('whoWeAre') %>
        </h3>
      </div>

      <div class="flex-lg-row div-padding-row" style="margin-top:-5%;">

        <div class="div-padding-min author-width-md author-margin-xs" align="center">

          <img src="./images/franke_400px.jpg" alt="Thomas Franke" class="author-images rounded-img"></img>

          </br>

          <h4 style="margin-top:1%">
            <%- __('frankeName') %>
          </h4>

          <p style="text-align:justify">
            <%= __('frankeText') %>
          </p>

        </div>

        <div class="div-padding-min author-width-md author-margin-xs" align="center">

          <img src="./images/attig_400px.jpg" alt="Christiane Attig" class="author-images rounded-img"></img>

          </br>

          <h4 style="margin-top:1%">
            <%- __('attigName') %>
          </h4>

          <p style="text-align:justify">
            <%= __('attigText') %>
          </p>

        </div>

        <div class="div-padding-min author-width-md author-margin-xs" align="center">

          <img src="./images/wessel_400px.png" alt="Daniel Wessel" class="author-images rounded-img"></img>

          </br>

          <h4 style="margin-top:1%">
            <%- __('wesselName') %>
          </h4>

          <p style="text-align:justify">
            <%= __('wesselText') %>
          </p>

        </div>

      </div>

    </div>

  </main>
    <footer class="bg-color-theme">
      <%- include ./partials/footer %>
    </footer>
    <script>
      // Select all links with hashes
      $('a[href*="#"]')
        // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function (event) {
          // On-page links
          if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
            location.hostname == this.hostname
          ) {
            // Figure out element to scroll to
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            // Does a scroll target exist?
            if (target.length) {
              // Only prevent default if animation is actually gonna happen
              event.preventDefault();
              $('html, body').animate({               
                scrollTop: target.offset().top - 70+'px'
              }, 1000, function () {
                // Callback after animation
                // Must change focus!
                var $target = $(target);
                $target.focus();
                if ($target.is(":focus")) { // Checking if the target was focused
                  return false;
                } else {
                  $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                  $target.focus(); // Set focus again
                };
              });
            }
          }
        });
        $('.navbar-collapse a').click(function(){
    $(".navbar-collapse").collapse('hide');
});

  /*fixed header */
  var m = document.querySelector("main"),
      h = document.querySelector("header"),
      hHeight;

  function setTopPadding() {
    hHeight = h.offsetHeight;
    m.style.paddingTop = hHeight + "px";
  }

  window.onload = function() {
    setTopPadding();
  };
  window.onresize = function() {
    setTopPadding();
  };
    </script>
  </body>

  </html>
