<!DOCTYPE html>
<html>

<head lang="en">
       <%- include ./partials/head %>
</head>

<body class="container">
    <header>
        <%- include ./partials/header %>
    </header>
    <section>
        <h1 id="title"><%= title %></h1>
        <p>Welcome to the <%= title %>-Project</p>
        <div>
            <h3>Teste deine Technikaffinität</h3>
            <p>
                Nutze unseren Fragebogen und finde schnell heraus, wie affin du zum Umgang mit Technik bist. Vergleiche dich mit anderen.
            </p>
            <p>
                Oder nutze den Fragebogen für Entwicklungs- oder Forscherzwecke. Lade ihn für deine Studie herunter.
            </p>
        </div>
        <div>
            <h3>Was?</h3>
            <p>Mit unserem Fragebogen kannst du unkompliziert deine Technikaffinität oder die deiner Probanden messen. Dazu kann derFragebogen direkt auf dieser Seite ausgefüllt, oder einfach heruntergeladen werden. Das Ausfüllen nimmt fünf Minuten in Anspruch und ist auf diverson Geräten möglich. Außerdem gibt es viele weitere Features, wie der Zukang eines Vergleichs der Ergebnisse alter Teilnehmer.</p>
        </div>
        <div>
            <h3>Wie?</h3>
            <p>Mit der Technikaffinität behandelt der Fragebogen eine aktuelles Thema, welches derzeit in wissenschaftlichen Studien noch wenig berücksichtigt wird. Damit die Nutzer ein objektives, zuverlässiges und gültiges Ergebnis erhalten, wurde der Fragebogen sowie das Feedback in einem wissenschaftlichen Kontext entwickelt. Zudem kann mithilfe der Online-Version schnell und ohne viel Aufwand eine relativ große Reichweite erlangt werden.</p>
        </div>
        <div>
            <h3>Warum?</h3>
            <p>Der Fragebogen ist aus verschiedenen Perspektiven eine hilfreiches Werkzeug. Forschern ist es möglich, hilfreiche Daten über ihre Probanden zu erhalten, Systementwickler können ihn einsetzen, um die Technikaffinität der Benutze vor Evaluation ihrer Prototypen zu ermitteln, und Interessierte können einfach etwas über ihre Persönlichkeitseigenschaft Technikaffinität erfahren.</p>
        </div>
        <a href="/dl">Fragebogen herunterladen</a></br>
		<a href="/toggle"><%= __('toggletext') %></a>
    </section>
    <footer>
        <%- include ./partials/footer %>
    </footer>

</body>

</html>