
<%- include ./partials/head %>

<link rel="stylesheet" href="/css/login.css" >

<title>ATI/Profil</title>
</head>


<body style="padding-top:70px;z-index:-1">
  <header style="z-index:1">
    <%- include ./partials/header %>
  </header>


  <main style="z-index:0">
  <div class="container" style="padding-top:4%; ">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link"><%- __('login.login') %></a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link"><%- __('login.register') %></a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="/login" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="email" name="email" id="username" tabindex="1" class="form-control" placeholder="<%- __('login.email') %>" value="" required>
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="<%- __('login.pw') %>" required>
									</div>
									<!-- <div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div> -->
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-4">
												<input type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn-login" value="<%- __('login.login') %>">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="/login/reset" tabindex="4" class="forgot-password"><%- __('login.pwLink') %></a>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" action="login" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="newName" id="username" tabindex="1" class="form-control" placeholder="<%- __('login.name') %>" value="" required>
									</div>
									<div class="form-group">
										<input type="email" name="newEmail" id="email" tabindex="2" class="form-control" placeholder="<%- __('login.email') %>" value="" required>
									</div>
									<div class="form-group">
										<input type="password" name="newPassword" id="new-password" tabindex="3" class="form-control" placeholder="<%- __('login.pw') %>" oninput="checkPW()" required>
									</div>
									<div class="form-group">
										<input type="password" name="newPasswordConf" id="confirm-password" tabindex="4" class="form-control" placeholder="<%- __('login.conf-pw') %>" oninput="checkPW()" required>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-4">
												<input type="submit" name="register-submit" id="register-submit" tabindex="5" class="form-control btn btn-login" value="<%- __('login.register') %>">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
        <p style="color:red; text-align:center;">
          <% switch (msg) {
            case 'validate-email' : %>
              <%- __('login.validate') %>
          <% break;
            case 'bad-login' : %>
              <%- __('login.badLogin') %>
          <% break;
            case 'email-blocked' : %>
              <%- __('login.BadEmail') %>
          <% break;
          } %>
      </p>
			</div>
		</div>
	</div>

</main>
  <!--
  <footer class="bg-color-theme">
    <%- include ./partials/footer %>
  </footer> -->



   <script language='javascript' type='text/javascript'>

   $(function() {

    $('#login-form-link').click(function(e) {
		$("#login-form").delay(100).fadeIn(100);
 		$("#register-form").fadeOut(100);
		$('#register-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});
	$('#register-form-link').click(function(e) {
		$("#register-form").delay(100).fadeIn(100);
 		$("#login-form").fadeOut(100);
		$('#login-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});

});

/*fixed header */
var m = document.querySelector("main"),
    h = document.querySelector("header"),
    hHeight;

function setTopPadding() {
  hHeight = h.offsetHeight;
  m.style.paddingTop = hHeight + "px";
}

window.onload = function() {
  setTopPadding();
};
window.onresize = function() {
  setTopPadding();
};

   // A small script to notify tne user if passwords don't match up.
   function checkPW() {
     var lblPW2 = document.getElementById('confirm-password'),
         lblPW1 = document.getElementById('new-password');

     if (lblPW2.value != lblPW1.value) {
        lblPW2.setCustomValidity('Password Must be Matching.');
     } else {
        // input is valid -- reset the error message
        lblPW2.setCustomValidity('');
     }

     if (lblPW1.value.length < 8) {
       lblPW1.setCustomValidity('Password Must at least be 8 characters.');
     } else {
       lblPW1.setCustomValidity('');
     }
    }
   </script>
</body>
