<head>

  <%- include ./partials/head %>
    <title>User</title>
</head>

<body>
  <header>
    <%- include ./partials/header %>
  </header>
  <div>

    <!-- rebuild with grid?-->

    <table id="userDataTable">
      <tr>
        <td>Name:</td>
        <td>DummyName</td>
        <td>edit</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>dummy@dummymail.com</td>
        <td>edit</td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>####</td>
        <td>edit</td>
      </tr>
    </table>

  </div>

  <div id="surveyOverview" class="container">
    <div class="div-padding-row background-light-grey" id="overviewHeader">
      <img src="./images/Entwickler_Icon.png" alt="Studien" class="studyIcon inline"></img>
      <span style="padding-left:3px">
        <%= __('user.yourSurveys') %>
      </span>
      <span id="openSurveysAmount">(#open surveys)</span>
      <form class="searchForm">
        <input class="search" type="text" name="search" placeholder="<%- __('user.searchText')%> " style="background-image: url('./images/search_icon.png')"></input>
      </form>

    </div>
    <div id="resultsArea" class="container">
      <div id="buttonContainer">
        <button type="button"> <%= __('user.newSurveyButton')%></button>
      </div>

      <div id="dummySurvey" class="surveyMeta background-light-grey">

        <h3>SurveyName</h3>
        <div class="inlineBlock">
          <p> Erstellungsdatum
          </p>
          <p>Teilnehmer
          </p>
          <p>Status
          </p>

        </div>
        <div class="inlineBlock">
          <p>10/10/10
          </p>
          <p>X aus Y ausgefuellt
          </p>
          <p>ends 10/10/10
          </p>
        </div>

      </div>
    </div>
  </div>

  <footer>
    <%- include ./partials/footer %>
  </footer>
</body>
