
  <%- include ./partials/head %>
    <title>User</title>
</head>

<body>
  <header>
    <%- include ./partials/header %>
  </header>
  <div>

    <!-- rebuild with grid?-->

    <table id="userDataTable">
      <tr>
        <td>Name:</td>
        <td>DummyName</td>
        <td>edit</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>dummy@dummymail.com</td>
        <td>edit</td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>####</td>
        <td>edit</td>
      </tr>
    </table>

  </div>

  <div id="surveyOverview">
    <div class="div-padding-row background-light-grey" id="overviewHeader">
        <img src="./images/Entwickler_Icon.png" alt="Studien" class="studyIcon inline"></img>
        <p class="inline" style="padding-left:3px"><%= __('user.yourSurveys') %></p>
        <p class = "inline" id = "openSurveysAmount">(#open surveys)</p>
        <form class="searchForm">
          <input class="search" type="text" name="search" placeholder="<%- __('user.searchText')%>" ></input>
        </form>

    </div>
    <div id="resultsArea">
      <button type="button"> <%= __('user.newSurveyButton')%></button>

    </div>
  </div>

  <footer>
    <%- include ./partials/footer %>
  </footer>
</body>
