<%- include ./partials/head %>
    <title>ATI</title>
    </head>

    <body onload="uncheckall()">
        <nav class="navbar navbar-default navbar-noMargin" style="padding-right:1%">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ATI</a>
                </div>
                <ul class="nav navbar-nav navbar-right">

                    <li class="li-header-right" style="width:100%">
                        <a href="/toggle">
                            <img src="./images/lang_de_en.png" class="langImg">
                            <%= __('toggletext') %>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="container">
            <h1>
                <%= __('titleQuestionaire') %>
            </h1>
            <p>
                <%= __('descQuestionair') %>
            </p>
            <div class="container" style="border-bottom:1px solid black;width:100%;height:10px; margin:3rem 0rem;"></div>
        </div>

        <div class="container">
            <p>
                <%= __('createId.descUníqueId') %>
            </p>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div id="descMother">
                        <%= __('createId.descMother') %>
                    </div>
                    <input type="text" id="letMother">
                </div>
                <div class="col-xs-12 col-md-6">
                    <div id="descMonth">
                        <%= __('createId.descMonth') %>
                    </div>
                    <input type="number" id="numMonth">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div id="descPlace">
                        <%= __('createId.descBirthplace') %>
                    </div>
                    <input type="text" id="letPlace">
                </div>
            </div>
            <div class="container" style="border-bottom:1px solid black;width:100%;height:10px; margin:3rem 0rem;"></div>
        </div>






        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead style="border-bottom:1px solid black">
                        <tr>
                            <th>#</th>
                            <th>
                                <%= __('instruction') %>
                            </th>
                            <th class="alignTD">
                                <%= __('answers.answer1') %>
                            </th>
                            <th class="alignTD">
                                <%= __('answers.answer2') %>
                            </th>
                            <th class="alignTD">
                                <%= __('answers.answer3') %>
                            </th>
                            <th>
                                <%= __('answers.answer4') %>
                            </th>
                            <th class="alignTD">
                                <%= __('answers.answer5') %>
                            </th>
                            <th class="alignTD">
                                <%= __('answers.answer6') %>
                            </th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr>
                            <td>1</td>
                            <td>
                                <p id="q1">
                                    <%= __('questions.question1') %>
                                </p>
                            </td>
                            <% for(var i=1; i < 7; i++) { %>
                                <td class="alignTD" onclick="checkradio(1, <%= i %>)">
                                    <input type="radio" align="center" id="1Answer<%= i %>" name="one" value="<%= i%>" />
                                </td>
                                <% } %>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <p id="q2">
                                    <%= __('questions.question2') %>
                                </p>
                            </td>
                            <% for(var i=1; i < 7; i++) { %>
                                <td class="alignTD" onclick="checkradio(2, <%= i %>)">
                                    <input type="radio" align="center" id="2Answer<%= i %>" name="two" value="<%= i%>" />
                                </td>
                                <% } %>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <p id="q3">
                                    <%= __('questions.question3') %>
                                </p>
                            </td>

                            <% for(var i=1; i < 7; i++) { %>
                                <td class="alignTD" onclick="checkradio(3, <%= i %>)">
                                    <input type="radio" align="center" id="3Answer<%= i %>" name="three" value="<%= i%>" />
                                </td>
                                <% } %>

                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <p id="q4">
                                    <%= __('questions.question4') %>
                                </p>
                            </td>
                            <% for(var i=1; i < 7; i++) { %>
                                <td class="alignTD" onclick="checkradio(4, <%= i %>)">
                                    <input type="radio" align="center" id="4Answer<%= i %>" name="four" value="<%= i%>" />
                                </td>
                                <% } %>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <p id="q5">
                                    <%= __('questions.question5') %>
                                </p>
                            </td>
                            <% for(var i=1; i < 7; i++) { %>
                                <td class="alignTD" onclick="checkradio(5, <%= i %>)">
                                    <input type="radio" align="center" id="5Answer<%= i %>" name="five" value="q5answer<%= i%>" />
                                </td>
                                <% } %>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <p id="q6">
                                    <%= __('questions.question6') %>
                                </p>
                            </td>
                            <% for(var i=1; i < 7; i++) { %>
                                <td class="alignTD" onclick="checkradio(6, <%= i %>)">
                                    <input type="radio" align="center" id="6Answer<%= i %>" name="six" value="<%= i%>" />
                                </td>
                                <% } %>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <p id="q7">
                                    <%= __('questions.question7') %>
                                </p>
                            </td>
                            <% for(var i=1; i < 7; i++) { %>
                                <td class="alignTD" onclick="checkradio(7, <%= i %>)">
                                    <input type="radio" align="center" id="7Answer<%= i %>" name="seven" value="<%= i%>" />
                                </td>
                                <% } %>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <p id="q8">
                                    <%= __('questions.question8') %>
                                </p>
                            </td>
                            <% for(var i=1; i < 7; i++) { %>
                                <td class="alignTD" onclick="checkradio(8, <%= i %>)">
                                    <input type="radio" align="center" id="8Answer<%= i %>" name="eight" value="<%= i%>" />
                                </td>
                                <% } %>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                <p id="q9">
                                    <%= __('questions.question9') %>
                                </p>
                            </td>
                            <% for(var i=1; i < 7; i++) { %>

                                <td class="alignTD" id="9a<%= i %>" onclick="checkradio(9, <%= i %>)">

                                    <input type="radio" align="center" id="9Answer<%= i %>" name="nine" value="<%= i%>" />

                                </td>
                                <% } %>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" style="border-bottom:1px solid black;width:100%;height:10px; margin:3rem 0rem;"></div>
        </div>



        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            <p id="sex"><%= __('sex.desc') %></p>
                        </td>
                        <td onclick="checkGender('male')">
                            <input type="radio" align="center" id="male" name="gender" value="male" />
                            <%= __('sex.male') %>
                        </td>
                        <td onclick="checkGender('female')">
                            <input type="radio" align="center" id="female" name="gender" value="female" />
                            <%= __('sex.female') %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p id="descAge">
                            <%= __('age.desc') %></p>
                        </td>
                        <td>
                            <input type="number" name="userAge"id="age" />
                            <%= __('age.unit') %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p id="edu">
                            <%= __('educationLevel.desc') %></p>
                        </td>
                        <td>
                            <div onclick="checkEducation('lesserThanAbitur')">
                                <input type="radio" align="center" id="lesserThanAbitur" name="education" value="lessALevel" />
                                <%= __('educationLevel.lesserThanAbitur') %>
                            </div>
                            </br>
                            <div onclick="checkEducation('BMD')">
                                <input type="radio" align="center" id="BMD" name="education" value="BachMastDeg" />
                                <%= __('educationLevel.BMD') %>
                            </div>
                        </td>
                        <td>
                            <div onclick="checkEducation('aLevel')">
                                <input type="radio" align="center" id="aLevel" name="education" value="alevel" />
                                <%= __('educationLevel.aLevel') %>
                            </div>
                            </br>
                            <div onclick="checkEducation('hMD')">
                                <input type="radio" align="center" id="hMD" name="education" value="higherALevel" />
                                <%= __('educationLevel.hMD') %>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <button class="button submit-form center-block" onclick="submitForm()">Submit</button>
        <script src="./js/form.js"></script>
    </body>