<head lang="en">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">

  <link rel="stylesheet" href="/chartist/dist/chartist.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap/bootstrap.min.js"></script>
  <script src="/js/newSurvey.js"></script>



  <title>ATI - surveyDetails</title>

  <link rel="stylesheet" href="/css/user.css">



</head>

<body>
  <section id="header">
    <nav class="navbar navbar-default navbar-noMargin" style="padding-right:1%">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
          <a class="navbar-brand" href="/">ATI</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li>
              <a >
                Survey Details
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/user"><span class="glyphicon glyphicon-user"></span> Profil</a>
            </li>
            <li>
              <a href="/login"><span class="glyphicon "></span> Log Out </a>
            </li>
            <li class="">
              <!-- class="imgLangSmall li-header-right" style="margin-right: -5%"> -->
              <a href="" onclick="changeLang()"> <img src="/images/lang_de_en.png" class="" style="max-width:35px;max-height:35px;"> <%= __('toggletext') %></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </section>

  <section class="content">
    <div class="container">
      <div class="nested-container">


        <h2 id="surveyName"></h2>
        <div class="clearfix">

          <div class="float-left">
            <span class="grey text-item-descr">Link</span>
          </div>
          <div class="float-left">
            <input id="surveyLink" type="url" name="surveyLink" value="https://ATI.coashdsa/918263" readonly><button type="button" id="copyUrlBtn">Copy</button>
            <br>
          </div>
        </div>
        <hr>


        <h2>Data to be collected</h2>
        <label><span class="text-item-descr">Affinity for Technology-Interaction&nbsp;</span><input type="checkbox" name="age" value="" checked disabled></label>
        <br>
        <label><span class="text-item-descr">Age </span><input id="takeAgeCbx" type="checkbox" name="age" value="" disabled></label>
        <br>
        <label><span class="text-item-descr">Sex </span><input id="takeSexCbx" type="checkbox" name="sex" value=""disabled></label>
        <br>
        <label><span class="text-item-descr">Education </span><input id="takeEduCbx" type="checkbox" name="education" value="" disabled></label>
        <hr>

        <div id="collectedData" class="">
          <h2>Collected Data</h2>
          <div id="periodDisplay">
            <p>
              <span class=" grey text-item-descr">
              <%= __('user.period') %>
              </span>
              <span id="beginDate"></span>
              <%= __('user.periodStart')%><span id="periodEndText" style="display:none"><%= __('user.periodEnd')%></span><span id="endDate"></span>
            </p>
          </div>
          <div>
            <p>
              <span class="grey text-item-descr">
              <%= __('user.participants') %>
            </span>
              <span>
                <span id='participantsCurrent'></span><span id="participantTextMiddle" style="display:none"><%- __('user.participants.part1')%></span><span id="participantsTotal"></span>
              <%=__('user.participants.part2')%>
                </span>
            </p>
          </div>
          <div style="display:inline-block">
            <p>
              <span class="grey text-item-descr"><%= __('user.status')%></span>
              <span id="status" class="text-item-descr"></span>
            </p>
          </div>
          <div id="average">
            <p>
              <span class="grey text-item-descr"><%= __('user.average') %></span>
              <span class="itemValue" id="avgAtiScore"></span>
            </p>
          </div>

          <div id="deviation">
            <p>
              <span class="grey text-item-descr"><%= __('user.deviation')%></span>
              <span class="itemValue" id="atiStd"></span>
            </p>
          </div>
          <button type="button" name="showHideRawData" id="showHideRawData"><span id="buttonText" class="glyphicon glyphicon-menu-down">View Raw Data</span></button>

          <div id="rawData" class="" style="display:none">
            <table>
              <tr>
                <th>asd</th>
              </tr>
              <tr>
                <th>dfg</th>
              </tr>
              <tr>
                <th>ghj</th>
              </tr>
            </table>
          </div>
          <div class="">
            <a id="exportCSV">
              <button type="button" class="button-start bg-color-theme">
                CSV Export
              </button>
            </a>
          </div>

          <h3>Import data</h3>
          <form action="#" onSubmit="myFunction();return false" enctype="multipart/form-data" method="post" id="importCSVForm">
            <input id="theFile" type="file" name="file" accept=".csv">
            <button type="submit" class="button-start bg-color-theme">Upload</button
            <p id="succ"></p>
          </form>
          <script>
            let myFunction = function() {
              console.log('blub');
              let data = new FormData();
              data.append('file', document.getElementById('theFile').files[0]);
              console.log(data);

              let postUrl = '/db/importCSV?SID=1';
              fetch(postUrl, {
                  method: 'POST',
                  body: data
                })
                .then((out) => {
                  document.getElementById('theFile').value = '';
                  document.getElementById('succ').innerHTML = "erfolgreich";
                })
                .catch(err => {
                  throw err
                });
            }
          </script>
        </div>
        <hr>

        <h2>Invite Participants</h2>
        <div class="clearfix flex-row" style="flex-wrap:wrap">
          <div class="float-left grey text-item-descr" style="flex-basis:150px;">
            <span class="">Cover Letter</span>
          </div>
          <div class="" style="width:100%">
            <textarea id="coverLetter" rows="5" placeholder="This is the text you will send with the email." style="width:100%; min-width:200px;"></textarea>
          </div>
        </div>
        <br>
        <div id="mailingList" class="">

          <div id="inviteField" class="">
            <div class="float-left">
              <span class="grey text-item-descr">Addresses</span>
            </div>
            <form class="" action="index.html" method="post">
              <input type="email" multiple name="mailAddress" value="" style="width:100%-300px" id="mailAddress">
              <!-- TODO: get glyphicons to work  -->
              <button type="button" name="invite" id="addMail"><span class="glyphicons glyphicons-user-add">add</span></button>
            </form>
          </div>
          <br>
          <div id="mailsOverview" class="">
            <div id="emailList" class="list-group">
              <a class="list-group-item list-group-item-action clearfix">Cras justo odio <button type="button" name="button" class="rm-on-click  pull-right"><span class="glyphicons glyphicons-delete">remove</span></button></a>
              <a class="list-group-item list-group-item-action clearfix">Dapibus ac facilisis in<button type="button" name="button" class="rm-on-click pull-right"><span class="glyphicons glyphicons-delete">remove</span></button></a>
              <a class="list-group-item list-group-item-action clearfix">Morbi leo risus<button type="button" name="button" class="rm-on-click pull-right"><span class="glyphicons glyphicons-delete">remove</span></button></a>
              <a class="list-group-item list-group-item-action clearfix">Porta ac consectetur ac<button type="button" name="button" class="rm-on-click pull-right"><span class="glyphicons glyphicons-delete">remove</span></button></a>
              <a class="list-group-item list-group-item-action clearfix">Vestibulum at eros<button type="button" name="button" class="rm-on-click pull-right"><span class="glyphicons glyphicons-delete">remove</span></button></a>
            </div>

          </div>
        </div>
        <div class="" style="padding-top:30px;">
          <button type="button" name="abort" class="float-left">Return to Profile</button>
        </div>

      </div>



    </div>


  </section>
  <footer>
    <%- include ./partials/footer %>
  </footer>

  <div id="invisibleVariableHolder">

  </div>
</body>
