
  <%- include ./partials/head %>
    <title>User</title>
    <script src="./js/user.js"></script>
    <link rel="stylesheet" href="./css/user.css" >
</head>

<body>
  <header>
    <%- include ./partials/header %>
  </header>
  <div>

    <!-- rebuild with grid?-->

    <table id="userDataTable">
      <tr>
        <td>Name:</td>
        <td>DummyName</td>
        <td>edit</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>dummy@dummymail.com</td>
        <td>edit</td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>####</td>
        <td>edit</td>
      </tr>
    </table>

  </div>

  <div id="surveyOverview" class="container">

    <div id="overview-header" class="background-light-grey">
      <img src="./images/Entwickler_Icon.png" alt="Studien" class="study-icon inline"></img>
      <span style="padding-left:3px">
        <%= __('user.yourSurveys') %>
      </span>
      <span id="openSurveysAmount">(#open surveys)</span>
      <form class="search-form">
        <input class="search" type="text" name="search" placeholder="<%- __('user.searchText')%> " style="background-image: url('./images/search_icon.png')"></input>
      </form>

    </div>

    <div id="resultsArea">

      <div id="buttonContainer" style="padding-top: 20px;padding-bottom:10px; display: flex; justify-content: center; ">
        <button type="button"><%= __('user.newSurveyButton')%></button>
      </div>

      <div id="dummySurvey" class="nested-container background-light-grey">
        <div id="basicData">
          <div id="entryHeader">
            <h3 style="padding-top:15px;">SurveyName</h3>
          </div>

          <div>
            <p>
              <span class=" grey text-item-descr">
                Erstellungsdatum
              </span>
              <span>
                10/10/10
              </span>
            </p>
          </div>
          <div>
            <p>
              <span class="grey text-item-descr">
                Teilnehmer
              </span>
              <span>
                X aus Y ausgefuellt
              </span>
            </p>
          </div>
          <div style="display:inline-block">
            <p>
              <span class="grey text-item-descr">
                Status
              </span>
              <span class="text-item-descr">
                ends 10/10/10
              </span>
            </p>
          </div>

          <div id="toggleDetails" class="inline-block float-right uparrow">
            <p>
              <span class="glyphicon glyphicon-menu-down"></span>
            </p>
          </div>

        </div>

        <div id="details" style="display:none">

          <hr>

          <div id="detailsHeader">
            <h4><%= __('user.detailsHeader') %></h4>
          </div>

          <div id="detailsData">
            <div id="average">
              <p>
                <span class="grey text-item-descr"><%= __('user.average') %></span>
                <span class="itemValue">4.1</span>
              </p>
            </div>

            <div id="deviation">
              <p>
                <span class="grey text-item-descr"><%= __('user.deviation')%></span>
                <span class="itemValue">1.2</span>
              </p>
            </div>

            <div id="releaseData">
              <p>
                <span class="grey text-item-descr"><%= __('user.releaseData') %></span>
                <label>
                  <input id="releaseDataCheckbox" type="checkbox"> <span class="glyphicons glyphicons-question-sign"></span>
                  allow
                </label>
              </p>
            </div>

          </div>

          <div id="graph">
            NotAGraph
          </div>

        </div>
      </div>
    </div>
  </div>

  <footer>
    <%- include ./partials/footer %>
  </footer>
</body>
